* {
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    background-color: rgb(255, 208, 137);
    height: 10vh;
    padding-top: 5vh;;
}
.content {
    display: flex;
    height: 90vh;
    width: 100%;
}
.sidebar {
    width: 20%;
  
    background-color: rgb(255, 245, 233);
}
.grid-container {
    width: 100%;
    background-color: rgb(221, 255, 255);
    text-align: center;
    display: grid;
    place-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.square {
    width: 7.5rem;
    height: 5rem;
    text-align: center;
    padding-top: 2.5rem;
}
.square:hover {
    background-color: yellow;
}